*venv
server/char_data
server/matlab.zip
*__pycache__
.DS_Store
.idea
server/model/weights/weights_*
server/nohup.out
server/matlab
nohup.out
training.out
training.err
vectorizing_cnn.pdf
temp.jpg
server/model/tests.py
server/model/old
